{% extends "layout.html" %}
{% block body %}

<div class="row">
    <h3 id="header"> Optimization Result</h3>
</div>

<div class="row">
    <div class="col-md-6">
        <table class="table table-striped table-bordered"
        style="width: 100%;">
            <caption>VQE Optimized Portfolio</caption>
            {% for item in data[0] %}
                <tr>
                    <th>{{item[0]}}</th>
                    <td>{{item[1]}}</td>
                </tr>
            {% endfor %}
        </table>
        <div style="width: 75%; ">
            <canvas id="vqeChart" ></canvas>
        </div>
        
    </div>
    <div class="col-md-6">
        <table class="table table-striped table-bordered"
        style="width: 100%;">
            <caption>QAOA Optimized Portfolio</caption>
            {% for item in data[1] %}
                <tr>
                    <th>{{item[0]}}</th>
                    <td>{{item[1]}}</td>
                </tr>
            {% endfor %}
        </table>
        <div style="width: 75%;">
            <canvas id="qaoaChart" ></canvas>
        </div>
        
    </div>    
</div>

<!-- <script>
    function change_heading() {
    
    let params = (new URL(document.location)).searchParams;
    let tickers = params.get("tickers");
    console.log(params)
    console.log(tickers)

    if (tickers) {
        document.getElementById("header").innerHTML = "Optimized Stock Portfolio" + " for " + tickers;
        }
    }
    
    change_heading();

</script> -->

<script>
    const ctx = document.getElementById('vqeChart');
    let vqeLabel = [];
    let vqeValues = [];
    var vqeData = JSON.parse('{{ data[0] | tojson }}')
    for(var i=3; i<vqeData.length; i++) {
        let item = vqeData[i]
        vqeLabel.push(item[0]);
        vqeValues.push(parseFloat(item[1]));
    }
    console.log(vqeValues)
    new Chart(ctx, {
        type: 'doughnut',
        data: {
        labels: vqeLabel,
        datasets: [{
            data: vqeValues,
            hoverOffset: 4
        }]
        },
    });

    const qctx = document.getElementById('qaoaChart');
    let qaoaLabel = [];
    let qaoaValues = [];
    var qaoaData = JSON.parse('{{ data[1] | tojson }}')
    for(var i=3; i<qaoaData.length; i++) {
        let item = qaoaData[i]
        qaoaLabel.push(item[0]);
        qaoaValues.push(parseFloat(item[1]));
    }
    new Chart(qctx, {
        type: 'doughnut',
        data: {
        labels: qaoaLabel,
        datasets: [{
            data: qaoaValues,
            hoverOffset: 4
        }]
        },
    });
  </script>

{% endblock %}
